body{
    background-image: url(/images/fondo.jpg);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    height: 100vh;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  


.col-lg-6{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 2%;
    font-weight: 500;
}
input{
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.btn{
    margin: 3% 25% 0 25% ;
    width: 50%;

}

#birthday{
    width: min-content;
}
.nav-tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 0;
}

.tab-content{
    border: 1px solid white;
    padding: 2%;
}
