.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.principal {
    background: rgb(0, 212, 255, 0.5);
    background-image: linear-gradient(120deg, rgb(86, 204, 242,0.5) 0%, rgb(86, 204, 242,0.5) 100%), url(images/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 623px;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}
.principal .iconos {
    display: flex;
    flex-direction: column;
    align-self: start;
   /* position: absolute; */
}

.triangulo {
    position: absolute;
    background-image: url(images/tri.png);
    height: 100px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0;
    background-size: 100% 100px;
}
.text{
    font-size: 20px;
    text-decoration: none;
}
.text-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3%;
}

.text-principal p {
    margin: 3% 0;
}

.text-principal h1 {
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin: 2% 0;
}
.principal .iconos a i {
    color: white;
    font-size: xx-large;
}

.principal .iconos a i:hover {
    color: #01ABE6;
}


.btn-inicio {
    display: flex;
    width: 238px;
    height: 49px;
    padding: 11px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: #F9B643;
    border-style: none;
    margin-top: 7%;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra para el efecto 3D */
    transform: translateY(0);
    /* Traslación inicial */
    transition: box-shadow 0.3s, transform 0.3s;
}

.btn-inicio:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Sombra más pronunciada al pasar el cursor sobre el botón */
    transform: translateY(-4px);
    /* Traslación hacia arriba para el efecto 3D */
}

/* bienvenida */
#bienvenida {

    text-align: center;
    padding: 3%;
}

#bienvenida h1 {
    color: #01ABE6;
    margin: 3% 0;
}

#bienvenida .col-lg-6 {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bienvenida .col-lg-6 p {
    text-align: left;
    letter-spacing: 0.2px;
    font-size: 20px;
}

#bienvenida img {
    width: 90%;
    border-radius: 0 90px 0 90px;
}

/* oferta */

#oferta {
    background-image: linear-gradient(120deg, rgba(117, 255, 237, 0.3) 0%, rgba(106, 205, 255, 0.5) 100%), url(images/fondoContacto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;

}

#oferta .imag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#oferta img {
    width: 70%;
}

#oferta .text-oferta {
    background-color: #F9B643;
    border-radius: 0px 50px 50px 0px;
    border-right: 5px solid #FFFEFE;
    border-bottom: 5px solid #FFFEFE;

    margin: 3% 0;
    height: 71px;
    display: flex;
    align-items: center;

    padding: 0 2%;
    width: 95%;
}

#oferta .text-oferta span {
    font-size: 20px;
    text-align: left;
    color: white;
}

.text-oferta .bi {
    color: white;
    font-size: xx-large;
    margin: 0 2%;

}

/* Contenido */
#contenido{
    background-image: linear-gradient(120deg, rgb(249, 182, 67, 0.7) 0%, rgb(249, 182, 67, 0.7) 100%),url(images/contenido.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
}

.tab-content{
    background-color: #FFF;
    padding: 3%;
}
#content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-tarjeta{
    display: flex;
    background-image: linear-gradient(120deg, rgb(1, 171, 230,0.8) 0%, rgba(106, 205, 255, 0.5)),url(images/avion.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
    border-radius: 9px;
    width: 90%;
}
.col-lg-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content1 p{
    text-align: left;
    margin-bottom: 0px;
}


/* Niveles */
#niveles {
    background-color: #404040;
    padding: 3%;
    text-align: center;
}

#niveles h2 {
    color: #F9B643;
    margin: 3% 0;
}

#niveles .col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#niveles .lista {
    border: white solid 2px;
    border-radius: 50px;
    width: 65%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#niveles .text-nivel {
    color: #FFF;
    text-align: left;
    width: 80%;
    font-size: 18px;
}

#niveles .nivel {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 35px;

}

/* contacto */

#contacto {
    background-image: linear-gradient(120deg, rgba(117, 255, 237, 0.3) 0%, rgba(106, 205, 255, 0.5) 100%), url(images/contacto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3%;
}

#contacto h2,
p {
    text-align: center;
}



.boton-enviar {
    margin-top: 3%;
}

#contacto .col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4%;
}

#contacto label {
    font-weight: 600;
    align-self: start;
    margin: 2% 0;
}

#contacto input {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
}

#contacto textarea {
    display: flex;
    width: 100%;
    height: 250px;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
}

.enviar {
    display: flex;
    width: 433px;
    height: 49px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #01ABE6;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Pie de pagina */
#piePagina {
    background-color: #404040;
    color: white;
    padding: 2%;
}

#piePagina .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 40%;
}

#piePagina .iconos a i {
    color: white;
    font-size: xx-large;
}

#piePagina .iconos a i:hover {
    color: #01ABE6;
}

#piePagina .iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#piePagina .datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#piePagina .datos p {
    font-size: 16px;
    margin-bottom: 0;
}

#copy {
    margin: 1% 0 0 0;
    border-top: #FFF solid 1px;
}

@media (max-width: 767px) {
    #contenido {
        padding: 4% 3%;
    }
    .principal{
        height: 500px;
    }
    .text-principal h1 {
        font-size: 40px;  
    }
  
    #bienvenida .col-lg-6 p {
        letter-spacing: 0.1px;
        font-size: 16px;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }

    #oferta .text-oferta span {
        font-size: 15px;
        color: white;
    }

    .text-oferta .bi {
        font-size: x-large;
        margin: 0 2%;

    }

    .cont-unidad .accordion-button {
        text-transform: uppercase;
        font-size: 15px;
    }

    #niveles .text-nivel {
        width: 90%;
        font-size: 14px;
    }

    #niveles .lista {
        width: 90%;
        font-size: 14px;
    }

    #niveles .nivel {
        gap: 15px;
    }

    .logo img {
        width: 30%;
    }

    #piePagina .col-md-12 {
        padding: 3%;
    }

    #piePagina .datos p {
        font-size: 14px;
        margin-bottom: 0;
    }

    #piePagina .iconos {
        justify-content: space-around;
        font-size: x-large;
    }
}